
.weather-app{
  width: 100%
  height:100%;
  background-image: url('../../../public/logo192.png');
  background-color: orange;

  .weather-heading{
    width: 80%;
    height: 30%;
    margin: 2%;
    padding: 2%;
    display: flex;
    flex-direction: row;
  }

  .weather-content{
    width: 80%;
    height: 50%;
  }
}
